<main class="p-3">
  <h1 class="text-center">Buscador</h1>
  <form class="mb-3" [formGroup]="form">
    <mat-form-field style="width: 100%;">
      <input [formControl]="searchControl" matInput placeholder="Naruto Shippiden">
    </mat-form-field>
  </form>
  <section class="grid">
    <!-- <div class="col-2">
      <app-anime-item></app-anime-item>
    </div>
    <div class="col-2">
      <app-anime-item></app-anime-item>
    </div>
    <div class="col-2">
      <app-anime-item></app-anime-item>
    </div> -->
  </section>

</main>