<main>
  <div class="form-register">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <h4>Form</h4>
      <p>
        Name:
        <input class="controls" type="text" [formControl]="nameControl">
        <app-error [control]="nameControl"></app-error>

      </p>
      <p>

        Last Name:
        <input class="controls" type="text" [formControl]="lastNameControl">
        <app-error [control]="lastNameControl"></app-error>

      </p>


      <p>
        Fecha:
        <input class="controls" type="date" [formControl]="dateControl">
        <app-error [control]="dateControl"></app-error>
      </p>
      <p>
        Email:
        <input class="controls" type="email" [formControl]="emailControl">
        <app-error [control]="emailControl"></app-error>

      </p>
      <p>
        Gender:
        <br>
        <select class="controls" type="email" [formControl]="genderControl">
          <option value="">Select Gender</option>
          <option value="'Female'">Female</option>
          <option value="'Male'">Male</option>
          <option value="'Other'">Other</option>
        </select>
        <app-error [control]="genderControl"></app-error>
      </p>
      <div>
        Describe:
        <br>
        <textarea class="controls" col="30" rows="10" [formControl]="textControl"></textarea>

        <app-error [control]="textControl"></app-error>
      </div>
      <div class="col-12 d-flex justify-content-end">
        <button [disabled]="registerForm.invalid" class="btn " type="submit">Send</button>
      </div>
    </form>
  </div>
  <!-- <div class="col-4">
    <h3>Es valido: {{registerForm.valid}}</h3>
    <pre>
      {{registerForm.value | json}}
      <small class="text-danger">
        Este campo es requerido
      </small>
    </pre>
  </div> -->
</main>